.loginPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    margin-bottom: 35px;
    font-family: "Poppins Bold";
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .submitButton {
      width: 150px;
    }
  }
}
