@font-face {
  font-family: "Baskerville Regular";
  src: url("../../public/Baskervville/Baskervville-Regular.ttf");
}

@font-face {
  font-family: "Baskerville Italic";
  src: url("../../public/Baskervville/Baskervville-Italic.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../../public/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../../public/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../public/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Thin";
  src: url("../../public/Poppins/Poppins-Thin.ttf");
}
