.inputContainer {
  width: 350px;
  margin-bottom: 16px;

  .label {
    font-family: "Poppins";
    margin-bottom: 8px;
  }

  .input {
    font-family: "Poppins";
    height: 46px;
    margin-bottom: 8px;
  }
  .errors {
    font-size: 12px;
    font-family: "Poppins";
    color: red;
  }
}
